<%= form_for @link, remote: true do |f| %>

  <div class="field">
    <%= f.label :enter_url %><br>
    <%= f.text_field :given_url %>
  </div>

  <div class="actions">
    <%= f.submit 'Shorten Me',:class => "btn btn-primary" %>
  </div>
<% end %>



